:root{
    --bg-color: white;
    --text-color: black;
}

body{
	margin: 0;
	padding: 0;
	background: black;
    text-align: center;
    font-family: Verdana;
    max-width: 100vw;
}

/* animation: jump 1.2s; */
@keyframes jump{
    0% {transform: translateY(10px);}
    50% {transform: translateY(-20px); box-shadow: 0px 20px 0 -5px rgb(71,144,129,.8),  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);}
    100% {transform: translateY(0px);}
}

/* animation: bounce 1s; */
@keyframes bounce{
    0% {transform: translateY(10px);}
    17% {transform: translateY(-20px); box-shadow: 0px 20px 0  -5px rgb(71,144,129,.8),  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);}
    33% {transform: translateY(0px); box-shadow: 0px 0px 0 rgb(71,144,129,.8),  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);}
    49% {transform: translateY(-10px); box-shadow: 0px 10px 0 -5px rgb(71,144,129,.8),  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);}
    65% {transform: translateY(0px); box-shadow: 0px 0px 0 rgb(71,144,129,.8),  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);}
    83% {transform: translateY(-5px); box-shadow: 0px 5px 0 -5px rgb(71,144,129,.8),  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);}
    100% {transform: translateY(0px);}
}

/* animation: wiggle 1.5s linear infinite; */
@keyframes wiggle{
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    75% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}

/* animation: shake 1s; */
@keyframes shake{
    0% {transform: translateX(10px);}
    17% {transform: translateX(-20px);}
    33% {transform: translateX(0px);}
    49% {transform: translateX(-10px);}
    65% {transform: translateX(0px);}
    83% {transform: translateX(-5px);}
    100% {transform: translateX(0px);}
}

/* animation: struggle 0.6s; */
@keyframes struggle{
    0% {transform: skew(10deg, 10deg); box-shadow: 0px 5px 0px #479081,  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);}
    25% {transform: skew(-10deg, -10deg); box-shadow: 0px 5px 0px #479081,  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);}
    50% {transform: skew(10deg, 10deg); box-shadow: 0px 5px 0px #479081,  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);}
    75% {transform: skew(-10deg, -10deg); box-shadow: 0px 5px 0px #479081,  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);}
    100% {transform: skew(10deg, 10deg); box-shadow: 0px 5px 0px #479081,  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);}
}

/* animation: grow 1s; */
@keyframes grow{
    0% {transform: scale(0.9, 0.9);}
    50% {transform: scale(1.1, 1.1);}
    100% {transform: scale(1, 1);}
}

/* animation: shrink 1s; */
@keyframes shrink{
    0% {transform: scale(1.1, 1.1);}
    50% {transform: scale(0.9, 0.9);}
    100% {transform: scale(1, 1);}
}

/* animation: pulse 1s; */
@keyframes pulse{
    0% {transform: scale(0.9, 0.9);}
    50% {transform: scale(1.1, 1.1);}
    100% {transform: scale(0.9, 0.9);}
}

header h1{
    background-color: #212121;
    color: #ecf0f1;
    padding: 20px 15px;
    font-size: 120%;
    text-transform: uppercase;
    margin: 0;
    box-shadow: 0 2px 4px 0 grey;
    text-align: left;
}

.backtotop{
    background-color: var(--bg-color, white);
    border-radius: 1em;
    width: 20px;
    height: 20px;
    padding: 5px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: .25;
    zoom: 1.5;
}

.backtotop a{
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    color: #262626;
}

.backtotop:hover{
    opacity: 1;
}

.wrapper{
    display: flex;
    flex-flow: column;
    margin: 20px;
}

.content-wrapper{
    margin-top: 20px;
    width: 100%;
    background: white;
}

.container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: baseline;
}

.card{
    display: flex;
    flex-flow: column;
    text-transform: uppercase;
    font-size: 90%;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
}

.container-button{
    display: flex;
    width: 100%;
    border: thin solid var(--bg-color, white);
    border-bottom: thin double lightgray;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: var(--bg-color, white);
    text-transform: uppercase;
}

.container-button:hover{
    border: thin solid;
}

.container-button:focus{
    border: thin solid;
}

.container-button.active{
    border: thin solid;
    border-radius: 5px;
}

.arrow{
    transition: transform .25s;
}

.arrow.active{
    transform: rotate(180deg);
}

.button-sample{
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-color, black);
}

.invisible-button{
    border: none;
    background: var(--bg-color, white);
}

.bordered-button{
    border: thin solid black;
    background: var(--bg-color, white);
}

.background-button{
    background: #73C6B6;
}
/* rounded rectangle */
.rounded-rectangle-button{
    border-radius: 5px;
}
/* circle */
.circle-button{
    border-radius: 50%;
    height: 5em;
    width: 5em;
    line-height: 5em;
    box-sizing: content-box;
    text-align: center;
    padding: 0;
}
/* square */
.square-button{
    height: 5em;
    width: 5em;
    box-sizing: content-box;
    padding: 0;
}
/* rounded square */
.rounded-square-button{
    height: 5em;
    width: 5em;
    box-sizing: content-box;
    padding: 0;
    border-radius: 20%;
}

.threed-btn{
    background: #73C6B6;
    border: none;
    box-shadow: 0px 5px 0 rgb(71,144,129,.9),  0px 3px 15px rgb(47,79,79,.4), inset 0px 0px 3px rgb(122,207,191,.5);
}

.threed-button-title{
    color: #084e40;
    text-shadow: 0px -1px 0px rgba(47,79,79,.5);
}

.fade-in{
    background: #73C6B6;
    border: none;
    opacity: 0.7;
    transition: opacity 0.5s;
}

.fade-in:hover{
    opacity: 1;
}

.fade-out{
    background: #73C6B6;
    border: none;
    opacity: 1;
    transition: opacity 0.5s;
}

.fade-out:hover{
    opacity: 0.8;
}

.full-fade{
    background: var(--bg-color);
    border: none;
    transition: 1.3s;
}

.full-fade:hover{
    background: #73C6B6;
}

.fill-in, .lift-up{
    border: thin solid #73C6B6;
    background: var(--bg-color);
    transition: 0.5s;
}

.fill-in:hover{
    border: thin solid var(--bg-color, white);
    box-shadow: inset 0 0 0 2.5em #73C6B6;
}

.lift-up:hover{
    border: thin solid var(--bg-color, white);
    box-shadow: inset 0 -5.3em 0 0 #73C6B6;
}

.jump:hover{
    animation: jump 1.2s;
}

.bounce:hover{
    animation: bounce 1s;
}

.wiggle:hover{
    animation: wiggle 1.5s linear infinite;
}

.shake:hover{
    animation: shake 1s;
}

.struggle:hover{
    animation: struggle 0.6s;
}

.grow:hover{
    animation: grow 1s;
}

.shrink:hover{
    animation: shrink 1s;
}

.pulse:hover{
    animation: pulse 1s infinite;
}